a,a:hover,a:focus,a:visited,a:active
	text-decoration none
	color rgba(0,0,0,.8)

.main-layout

	.CTN1
		margin-top 50px
		
	.CTN2
		margin-top 75px
		
		.CTN3
			padding-left 10px
			padding-right 10px
			margin-bottom 25px
			cursor pointer
			
			.IMG1
				width 100%
				height 200px
				border-radius 3px
				
			.TXT1
				font-size 16px
				margin-top 10px
				margin-left 10px
				color rgba(0,0,0,.8)
				